*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: antiquewhite;
}
body{
    background-color: #0D1117;
}
.main-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}
.video-container,.image-container,.audio-container{
    background-color: #242d3b;
    border: 2px solid gold;
    border-radius: 5px;
    height: 300px;
    width: 80%;
}
h2{
    border: 2px solid black;    
    text-align: center;
    padding: 10px 0px;
}
@media (max-width: 376px){
    video{
        width: 80%;
    }
}