* {
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.navbar {
  background-color: black;
}
h2 {
  text-align: center;
  font-size: 30px;
  text-transform: capitalize;
  color: bisque;
  padding: 20px 0px;
}

.images {
  margin-top: 40px;
  display: flex;
  gap: 30px;
  justify-content: center;
}
.choice {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid black;
  overflow: hidden;
  transition: all 0.3s ease;
}

.choice img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.choice:hover {
  border: 2px solid white;
  box-shadow: 0px 0px 20px red;
  cursor: pointer;
}
@media (max-width: 376px) {
  .choice {
    width: 80px;
    height: 80px;
  }
}

.score {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}
.you,
.computer {
  background-color: rgba(222, 184, 135, 0.425);
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.message p {
  font-size: 30px;
  padding: 10px 25px;
  width: fit-content;
  border: 2px solid black;
  background-color: black;
  color: wheat;
  border-radius: 10px;
}
@media (max-width:376px){
  .message p {
    font-size: 30px;
    padding: 10px 25px;
    margin: 0px 20px;
    width: fit-content;
    border: 2px solid black;
    background-color: black;
    color: wheat;
    border-radius: 10px;
  }
}
